@charset "UTF-8";

@font-face {
    font-family: argon;
    src: url(../fonts/argon.otf);
}

@font-face {
    font-family: psans;
    src: url(../fonts/publicsans.ttf);
}



:root {
    --cor1dgd: #577195;
    --cor2dgd: #214373;
    --cor1: #5F94D9;
    --cor2: #38509A;
    --cor3: #30497F;
    --cor4: #223459;
    --cor5: #161F3C;

    --font1: psans, sans-serif;
    --font2: psans, sans-serif;
}
*{
    margin: 0;
    padding: 0;

}
header{
    background-image: linear-gradient(-140deg, var(--cor1), var(--cor4));
    background-size: cover;    
}

.logo{
    height: 60px;
    display: inline-block;
    padding-top: 15px;
    margin: 0px 15px;
}


nav{
    margin: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    background-color: transparent;
    flex-wrap: nowrap;
    flex-direction: column; 
}
ul{
    margin: 0px;
    padding: 15px;
    display: inline-flex;
    list-style-type: none;
}

ul li a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    pad: 5px 10px;
    margin: 0px 10px;
    position: relative;
    transition: all .5s;
}

a:hover{
    background-color: var(--cor1);
    padding: 5px;
    color: rgb(0, 0, 0);
}

a::before{
    content: "";
    position: absolute;
    bottom: 12px;
    left: 12px;
    height: 12px;
    width: 12px;
    border: 3px solid white;
    border-width: 0px 0px 3px 3px;
    opacity: 0;
    transition: all .3s;
}

a::after{
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    height: 12px;
    width: 12px;
    border: 3px solid white;
    border-width: 3px 3px 0px 0px;
    opacity: 0;
    transition: all .3s;
}

a:hover::before{
    opacity: 1;
    bottom: -8px;
    left: -8px;
}

a:hover::after{
    opacity: 1;
    top: -8px;
    right: -8px;
}


